beautifulsoup4==4.10.0
click==8.0.1
future==0.18.2
htmlmin==0.1.12
Jinja2==3.0.1
jsmin==3.0.0
livereload==2.6.3
lunr==0.6.0
Markdown==3.3.4
MarkupSafe==2.0.1
mkdocs==1.2.2
mkdocs-material==7.3.0
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.4.1
nltk==3.6.3
Pygments==2.10.0
pylinkvalidator==0.3
pymdown-extensions==8.2
PyYAML==5.4.1
six==1.16.0
soupsieve==2.2.1
tornado==6.1
